.overview_wrapper {
  background: #f0f2f5 !important;
  padding: 0!important;
  .server_status_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    .ant-card {
      background: #fff;
    }
  }
}
