.login_wrapper {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Lato, sans-serif;
  figure {
    margin: 0;
    padding: 0;
  }
  .blur_bg {
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    background: url(./wew.png) no-repeat center top;
    background-size: cover;
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
}

.login_container {
  width: 372px;
  height: 520px;
  margin: auto;
  padding: 0 35px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 6px;
  .title_img {
    width: 200px;
    height: 50px;
    margin: 25px auto;
    background: url("./yancey-official-blog-logo.png") no-repeat center top;
    background-size: contain;
    text-align: center;
  }
  .user_input_group {
    margin-bottom: 18px;
    label, span {
      color: #585858;
      font-size: 14px;
      cursor: pointer;
    }
    span {
      margin-bottom: 10px;
      display: inline-block;
    }
    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      border: 1px solid #EAEAEA;
      background: none;
      padding: 5px 10px;
      color: #444;
      font-weight: normal;
      font-size: 14px;
      background: #FFF;
      box-shadow: 0 0 0 1000px white inset;
      height: 46px;
      border-radius: 3px;
      outline: none;
      &:focus {
        border: 1px solid #FF5656;
      }
    }
  }
  .login_btn {
    width: 100%;
    margin: 16px auto;
    border: none;
    float: none;
    border-radius: 30px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    background: #FF5656;
    font-weight: normal;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
    letter-spacing: 2px;
    outline: none;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.25s, 0.15s, 0s;
    transition-timing-function: cubic-bezier(0.31, 0.32, 0.38, 2), linear, linear;
    transition-delay: 0s, 0s, 0.15s;
    transform: scale3d(1, 1, 1);
    &:hover {
      box-shadow: 0 0 4px rgba(#F12742, .85);
      transform: scale3d(1.05, 1.05, 1);
    }
  }
}

