.login_wrapper {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  figure {
    margin: 0;
    padding: 0;
  }
  .blur_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: url("./wew.png") no-repeat center top;
    background-size: cover;
    filter: blur(2px);
  }
}

.login_container {
  width: 350px;
  height: 520px;
  margin: auto;
  padding: 0 35px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 6px;
  .title_img {
    width: 200px;
    height: 50px;
    margin: 25px auto;
    background: url("./yancey-official-blog-logo.png") no-repeat center top;
    background-size: contain;
    text-align: center;
  }
  .user_input_group {
    margin-bottom: 18px;
    label {
      color: #585858;
      font-size: 14px;
      cursor: pointer;
    }
    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      border: 1px solid #EAEAEA;
      background: none;
      padding: 5px 10px;
      color: #444;
      font-weight: normal;
      font-size: 14px;
      background: #FFF;
      box-shadow: 0 0 0 1000px white inset;
      height: 46px;
      border-radius: 3px;
      outline: none;
      &:focus {
        border: 1px solid #FF5656;
      }
    }
  }
}
